<% provide(:title, "New Corrective Action") %>
<div class="login corrective">
<h3 style="text-align: center;">New Corrective Action for: <%=@user.name%></h3>
    <%= form_for(@user.corrective.new, url: "/corrective/create?id=#{@user.id}") do |f| %>
            <%= render 'shared/error_messages' %>
            <br><%= f.label "Supervisor: "%>
            <%= f.text_field :supervisor, value: current_user.name, disabled: true%><br><br>
            <%= f.label(:date_of, "Date of Infraction") %><br>
            <%= f.date_select(:date_of, :order => [:month, :day, :year]) %>
            <br><br>
            <%= f.label "Type of Infraction"%>
            <%= f.select :typeOf, [["Verbal Warning"], ["Written Warning"], ["Document of Discussion"]]%>
            <br>
            <br><%= f.label "Description"%><br>
            <%= f.text_area :description, placeholder: "Description of Infraction...", class: "loginField textarea" %>
            <br>
            <br><%= f.label "Plan for Correction"%><br>
            <%= f.text_area :plan, placeholder: "Plan for correcting the issue...", class: "loginField textarea" %>
            <br>
            <br><%= f.label "Action if Not Corrected"%><br>
            <%= f.text_area :action, placeholder: "Action if the issue is not corrected...", class: "loginField textarea" %>
            <br>
            <%# <br> %>
            <%#= f.label "Employee Comments"  %>
            <%# <br> %>
            <%#= f.text_area :comments, placeholder: "Employee comments", class: "loginField textarea" %>
            <%# <br>  %>
            <%= f.label(:supsig, "Supervisor Signature") %><br>
            <%= f.password_field(:supsig, class: "loginField") %>
            <br>
            <%#= f.label(:agentsig, "Agent Signature") %>
            <%# <br> %>
            <%#= f.password_field(:agentsig, class: "loginField") %>
            <br><br>
            <%= f.submit "Submit Corrective Action", class: "loginField loginButton" %>
    <% end %>
</div>