  <div>
    <%= form_for(:session, url: login_path) do |f| %>
    <h2 style="text-align: center">Login</h2>
    <div class="login">
      <%#= f.label :email %>
      <%= f.email_field :email, placeholder: "Email", class: "loginField" %>
      <br>
      <%#= f.label :password %>
      <%= f.password_field :password, placeholder: "Password", class: "loginField" %>
      <br>
      <%= f.submit "Log in", class: "loginField loginButton" %><br>
      <%= link_to "Reset Password", "/password/new", class: "profileLink" %>
    </div>
    <% end %>
