<% provide(:title, "Reset Password") %>
      <h1 style="text-align: center;">Reset Password</h1>
<div class="login">
    <%= form_for(@user, url: password_create_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "loginField" %>

      <%= f.submit "Send Email", class: "loginField" %>
    <% end %>
</div>