<% provide(:title, "Change Password") %>
      <h1 style="text-align: center;">Change Password</h1>
<div class="login">
      <%= form_for(@user, url: "/users/confirm?id=#{@user.id}", method: :post) do |f| %>
            <%= render 'shared/error_messages' %>
            <br><%= f.label "Current Password"%><br>    
            <%= f.password_field :old_password, placeholder: "Current Password", class: "loginField" %>
            <br><%= f.label "New Password"%><br>
            <%= f.password_field :password, placeholder: "New Password", class: "loginField" %>
            <br><%= f.label "Confirm New Password"%><br>
            <%= f.password_field :password_confirmation, placeholder: "Confirm New Password", class: "loginField" %>
            <br><br>
            <%= f.submit "Save Changes", class: "loginField" %>
      <% end %>
</div>